@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$font-default: 'Lato', sans-serif;
$color-primary: #4d75a4;
$color-secondary: #ECF5FB;
$color-dark: #436790;
$color-light: #A3B2CA;
$light-gray: #F3F5F7;
$bgc-main: $light-gray;
$white: #fff;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-default;
}

html, body {
	position: relative;
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clearfix {
    clear: both;
}