@import 'base';

html, body {
	background-color: $white;
}

.message-list {
	display: inline-block;
	width: 30%;
	min-height: 100%;
	border: 1px solid $light-gray;
}

.message-list-header {
	font-size: 18px;
	font-weight: 700;
	color: #999;
	padding: 18px;
}

.message-list-header .fa-search {
	float: right;
}

.message-presentation {
	padding: 15px;
	border: 1px solid $light-gray;
}

.message-presentation > .col-1 {
	display: inline-block;
	margin-right: 15px;
}

.message-presentation > .col-2 {
	display: inline-block;
	margin-right: 15px;
}

.message-presentation > .col-3 {
	display: inline-block;
	float: right;
}

.message-presentation .user-image {
	display: inline-block;
	border-radius: 50%;
	color: $white;
	background-color: #7f423c;
	width: 46px;
	height: 46px;
	text-align: center;
}

.message-presentation .user-name {
	color: #222;
	font-size: 18px;
	font-weight: 700;
}

.message-presentation .message-excerpt {
	color: #999;
	font-size: 16px;
	margin-top: 5px;
}

.message-presentation .sent-time {
	color: #bbb;
	font-size: 16px;
	margin-left: auto;
}

.message-presentation .new-messages {
	border-radius: 3px;
	background-color: $color-primary;
	color: $light-gray;
	font-size: 14px;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin-left: auto;
	margin-top: 5px;
}

.message-presentation.active {
	background-color: $color-secondary;
}

.chat-main {
	display: inline-block;
	position: relative;
	height: 100%;
	float: right;
	width: 70%;
	border-top: 1px solid $light-gray;
	border-right: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

.chat-main .user-image {
	display: inline-block;
	border-radius: 50%;
	color: $white;
	background-color: #7f423c;
	width: 46px;
	height: 46px;
	text-align: center;
}

.chat-main-header {
	padding: 24px;

}

.chat-main-header > .col-1 {
	display: inline-block;
	margin-right: 15px;
}

.chat-main-header > .col-2 {
	display: inline-block;
	margin-right: 15px;
	color: #222;
	font-size: 18px;
}

.chat-main-header > .col-3 {
	display: inline-block;
	float: right;
}

.chat-main-header .user-name {
	color: #222;
	font-size: 18px;
	font-weight: 700;
}

.chat-main-header .user-status {
	color: #999;
	font-size: 16px;
	margin-top: 5px;
}

.chat-main-header > .col-3 > i {
	margin-right: 16px;
	font-size: 22px;
	color: $color-light;
}

.chat-input {
	background-color: $bgc-main;
	padding: 20px;
}

.chat-input .chat-text-input {
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid $color-light;
	width: 80%;
	margin-right: 20px;
}

.chat-input .send-btn {
	background-color: $color-primary;
	color: $white;
	border-style: none;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
}

.chat {
	padding: 10px;
	height: 70%;
	overflow-y: scroll;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

.chat-message {
	max-width: 45%;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 7px;
	color: #888;
}

.chat-left .user-image {
	margin: 0 20px 20px 20px;
	float: left;
}

.chat-left .chat-message {
	background-color: $bgc-main;
}

.chat-right .user-image {
	float: right;
	margin: 20px;
}

.chat-right .chat-message {
	float: right;
	background-color: $color-secondary;
}